@using TechForum.Common
@model TechForum.Web.ViewModels.Home.IndexViewModel

<div class="wrapper">
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName</h1>
    </div>


    @foreach (var category in Model.Categories)
    {<div class="cols">
    <a href="@category.Url">
        <div class="col" ontouchstart="this.classList.toggle('hover')">
            <div class="container">
                <a href="@category.Url">
                    <div class="front" style="background-image: url(@category.ImageUrl)">
                        <div class="inner">
                            <p>@category.Name</p>
                            <span>@category.PostsCount Posts</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>@category.Description</p>
                        </div>
                    </div>
            </div>
        </div>
        </a>
</div>
    }

</div>

